 html {
    background: #c3e5e7;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 margin: 40px;
 padding: 40px;
 color: #242424;
 border-top: 10px solid #242424;
 background: #fff;
}

.sticky, .position-demo {
    color: aquamarine;
    padding: 20px;
}

.sticky {
    background-color: rgb(92, 152, 167);
    position: -webkit-sticky;
    position: sticky;
}
 
.position-demo{
    background-color: rgb(106, 106, 173);
    position: fixed;
    top: 20px;
    left: 20px;
}
.img-container{
    background-color: cornflowerblue;
    height: 30px;
    width: 30px;
    float: right;
    margin-left: 10px;
}
 body{
     color: #f7f7f7;
 }

 header{
  background-color: rgb(136, 100, 138);
 }
 section {
     background-color: rgb(69, 93, 94);
     display: flex;
 }
  footer {
      background: rgb(150, 128, 151);
  }
h1 {
    font-size: 3em;
    margin: 0;
    color: aqua;
}

p {
    line-height: 1.4em;
}

#blog{
 border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc ;
}

article {
    border-bottom: 1px solid #000;
}